{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
    <h1 class="dashboard-title">Welcome to the Dashboard</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li class="flash-message {% if 'success' in message %}success{% elif 'error' in message %}error{% endif %}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <a href="/product/create" class="button button-success">Add Product</a>

    <table class="product-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product[0] }}</td>
                    <td>{{ product[1] }}</td>
                    <td>{{ product[2] }}</td>
                    <td>{{ product[3] }}</td>
                    <td>{{ product[4] }}</td>
                    <td>
                        <a href="/product/edit/{{ product[0] }}" class="button button-primary">Edit</a>
                        <a href="/product/delete/{{ product[0] }}" class="button button-danger">Delete</a>
                         <a href="/add-to-cart/{{ product[0] }}" class="button button-cart">Add to Cart</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/logout" class="button button-primary">Logout</a>
{% endblock %}
